@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

.text-content {
  width: 68%;
}

.hover-opacity {
  transition: opacity 0.3s ease-in-out;
}

.hover-opacity:hover {
  opacity: 0.6;
}

@media (min-width: 600px) {
  .text-content {
    width: 40%;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}

.link-item {
  display: flex;
  align-items: center;
  position: relative;
}

.link-arrow {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.theme-text-color {
  color: rgb(var(--theme-text));
}
.theme-text-color .group:hover {
  color: var(--theme-text-hover);
}

.svg-arrow {
  fill: rgb(var(--svg-fill-color));
}

.group:hover .svg-arrow {
  fill: rgb(var(--svg-hover-color));
}

.theme-text-color .group:hover {
  color: rgb(var(--theme-text-hover));
}

:root {
  --theme-text: 8, 40, 126;
  --theme-text-hover: 255, 255, 255;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
  --svg-fill-color: 8, 40, 126;
  --svg-hover-color: 255, 255, 255;
}

.dark-theme {
  --theme-text: 255, 255, 255;
  --theme-text-hover: 255, 255, 255;
  --background-start-rgb: 4, 11, 33;
  --background-end-rgb: 0, 18, 45;
  --svg-fill-color: 255, 255, 255;
  --svg-hover-color: 255, 255, 255;
  .dark-theme .xs-always-blue {
    background-color: #073098;
    color: white;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (min-width: 601px) {
  .group:hover .arrow {
    fill: white;
  }
  .group:hover .icon {
    color: white;
  }
  .xl-logo {
    width: 60px;
    height: 60px;
}
.xl-copy {
  opacity: 0.8;
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-left: 10px;
}
.xl-description-pages {
  color: rgb(var(--theme-text));
  font-size: 16px;
}
.flex-direction-responsive {
  flex-direction: row;
}
.xl-about-text {
  font-size: 18px;
  font-weight: 300;
  padding-top: 7px;
  padding-bottom: 7px;
}
.xl-small-about {
  font-size: 20px;
  font-weight: 300;
  padding-top: 10px;
  padding-bottom: 10px;
}
.xl-icon-about {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
}
.xl-legal-direction {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding-top: 3em;
  gap: 35px;
}
.xl-text-al {
  text-align: left;
}
.xl-iban {
  text-align: left;
}
.xl-text-iban {
  text-align: left;
}
.xl-iban-text {
  display: flex;
  text-align: left;
  flex-grow: 1;
  padding-bottom: 10px;
}
.xl-leg-sec-heading {
  font-size: 24px;
}
.xl-iban-direction {
  display: flex;
  text-align: left;
  flex-grow: 1;
}
}

@media (max-width: 600px) {
  .xs-always-blue {
    background-color: #073098;
    color: white;
  }
  .icon-xs-white {
    color: white;
  }
  .xs-heading {
    padding-top: 5px;
    font-size: 22px;
    font-weight: 400;
    color: white;
  }
  .xs-description {
    font-size: 16px;
    font-weight: 300;
    color: white;
  }
  .xs-arrow {
    fill: white;
  }
  .xs-heading-pages {
    color: rgb(var(--theme-text));
    font-size: 22px;
    font-weight: 400;
  }
  .xs-description-pages {
    color: rgb(var(--theme-text));
    font-size: 18px;
    text-align: center;
  }
  .xs-logo {
    width: 50px;
    height: 50px;
  }
  .xs-copy {
    opacity: 0.8;
    width: 27px;
    height: 27px;
    cursor: pointer;
  }
  .xs-about-text {
    font-size: 14px;
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .xs-small-about {
    font-size: 16px;
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .xs-icon-about {
    width: 20px;
    height: 20px;
    margin-bottom: 8px;
  }
  .xs-legal-direction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .xs-iban-direction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .xs-text-al {
    text-align: center;
  }
  .xs-iban {
    text-align: center;
  }
  .xs-text-iban {
    text-align: center;
    margin-left: 10px;
    justify-content: center;

  }
  .xs-iban-text {
    display: flex;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    padding-bottom: 10px;
  }
  .xs-leg-sec-heading {
    font-size: 17px;
    padding-top: 5px;
    text-decoration: underline;
    text-underline-Offset: 5px;
    text-decoration-thickness: 0.3px;
  }
}

body {
  transition: background-color 0.5s ease;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    margin: "auto";
}

.main-content {
  flex: 1;
}

.icon-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fadeIn {
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  opacity: 0;
}

.div1 { animation-delay: 1s; }
.div2 { animation-delay: 2s; }
.div3 { animation-delay: 3s; }

